/* Colors */
$dark_gray: rgb(38,38,38);
$green: rgb(145,191,84);
$green: rgb(204,0,0);
$white: rgb(255,255,255);
$yellow: rgb(252,254,215);

$text_c: $dark_gray;
$bg_c: $white;
$em: $yellow;
$bg_outer_c: $dark_gray; 
$a_c: $green;
$a_hover_c: $green;
$alt_bg: rgb(240,240,240);

@font-face {
	font-family: ProximaNova;
	src: url('/fonts/ProximaNova-Regular.otf');
}

@font-face {
	font-family: ProximaNova;
	font-weight: bold;
	src: url('/fonts/ProximaNova-Bold.otf');
}

@font-face {
	font-family: ConsolasCSS;
	src: url('/fonts/Consolas.ttf');
}

/* Global reset */
html, body, * {
  margin: 0;
  padding: 0; }

body {
  background-image: url('/images/bg.png');
  background-repeat: repeat-y;
  background-position: 50% 50%;
  background-color: $bg_c;
  font: 1em ProximaNova, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  height: 100%;
}

em {
	padding: 0 0.2 em;
	background-color: $em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  font: bold normal normal 2em/1.0em ProximaNova, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  a {
    color: $text_c;
    &:visited {
      color: $text_c; }}}

h3, h4, h5 {
  margin: 1.5em 0 0.8em 0; }

p {
  margin: 1em 0; }

li {
	margin-left: 2em; }

a {
  color: $a_c;
  text-decoration: none;
  &:hover {
    color: $a_c;
    text-decoration: underline; }
  &:visited {
    color: $a_c; }
  img {
    border: 0; } }

table {
  font-size: inherit;
  font: 100%; }

blockquote {
  margin: 10px 20px;
  font-style: italic; }

/* Lists */

div.year {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0; }
  h2.year {
    color: #888888;
    float: left;
    margin: 0.2em 0 0 -3em;
    font-size: 250%; }
  h3.month, h2.tag {
    margin-top: 0; } }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  li {
    line-height: 1.75em;
    strong.date {
      color: #888888;
      margin-right: 5px;
      .tag & {
        width: 6.5em;
        display: inline-block;
        text-align: right; } } } }

#search {
  margin: 25px 0;
  .text {
    width: 180px;
    font-size: 100%; } }

ol#tag-cloud {
  margin-bottom: 35px;
  li {
    display: inline;
    line-height: 150%;
    a {
      padding: 2px; }
    &.tier-1 {
      font-size: 75%; }
    &.tier-2 {
      font-size: 90%; }
    &.tier-3 {
      font-size: 105%; }
    &.tier-4 {
      font-size: 120%; }
    &.tier-5 {
      font-size: 135%; }
    &.tier-6 {
      font-size: 150%; } } }

/* Site */

#site {
  font-size: 100%;
  text-align: left;
  line-height: 1.5em;
  width: 920px;
  margin: 0 auto 0 auto;
  #sidebar {
	background: $alt_bg;
    float: right;
    width: 270px;
	padding: 0 5px 0 5px;
    margin-bottom: 45px;
    #title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 16px;
      text-align: center;
      a {
        color: $a_c;
        &:hover {
          color: $text_c; } } }
    #github, #tweets {
      margin-top: 45px; }
    #github {
      text-align: center; }
    #tweets {
      h2 {
        margin-bottom: -5px; }
      li {
        list-style-type: none;
        font-size: 12px;
        background: #eeeeee;
        padding: 8px 10px;
        margin: 15px 0;
        &:after {
          content: "";
          border: 8px solid transparent;
          border-top: 8px solid #eeeeee;
          border-bottom: 0;
          width: 0;
          height: 0;
          display: block;
          margin: 5px 0 -15px 0; } } } }
  #content {
	padding-top: 2em;
    width: 550px;
    margin-left: 1em; }
  #footer {
    clear: both;
    margin: 80px 0 -5px 0;
    font-size: 80%;
    a {
      color: #8085c1; } } }

/* About */

#about {
  #photo {
    float: left;
    margin: 0 15px 5px 0; } }

/* Posts */

.post {
	margin-bottom: 4em;
  h1 {
    margin-bottom: 0; }
  .subtitle {
    color: #777777;
    margin-top: 0;
    font-size: 0.7em;
    a {
      color: #777777; } }
  .tag-list {
    padding-left: 2px;
  }
  .tag-list a {
    padding: 2px 4px;
    background: $text_c;
    text-decoration: none;
    color: $bg_c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px }

  .center {
    text-align: center; }
  img.bordered {
    border: 1px solid #aaaaaa; }
  .updated {
    background: #fffeeb;
    border: 1px solid #aaaaaa;
    border-width: 1px 0;
    padding: 10px;
    margin: 20px 10px;
    h5 {
      margin: 6px 0; } }
  /* standard */
  pre, code {
	font-size: 12px;
	font-family: Consolas, ConsolasCSS;
  }
  pre {
    background-color: #eeeeff;
    border: 1px solid #dddddd;
    padding: 0.4em;
    margin: 20px 0px 20px 9px;
    overflow-x: auto;
    /* css-3 */
    white-space: pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* Internet Explorer 5.5+ */
    word-wrap: break-word;
    code {
      border: none; } }
  code {
    border: 1px solid #dddddd;
    background-color: #eeeeff;
    padding: 0 0.2em;
    &.kb {
      border-width: 2px;
      border-color: #dedede #bbbbbb #bbbbbb #dedede;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #eeeeee; } }
  /* terminal */
  pre.terminal {
    border: 1px solid black;
    background-color: #333333;
    color: white;
    code {
      background-color: #333333; } }
  #older_and_newer {
    margin-top: 30px;
    strong {
      width: 6em;
      display: inline-block;
      text-align: right;
      margin-right: 5px; } } }

/* Disqus comments */

#disqus_thread {
  margin-top: 45px;
  .dsq-item-cp, .dsq-comment-options, li[id^=dsq-more-], .dsq-by {
    display: none !important; }
  #dsq-content #dsq-comments .dsq-comment-footer {
    margin-top: 5px; } }

/* Google 404 suggestions */

#goog-fixurl {
  margin: 25px 0 0 0;
  .content {
    width: auto;
    margin: 0; }
  ul {
    list-style-type: none;
    li {
      margin: 15px 0; } } }
