<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{% if page.title %}{{page.title}} - {% endif %}12dimensions</title>
	<link href='http://fonts.googleapis.com/css?family=Vollkorn:regular,italic&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/screen.css" type="text/css">
	<link rel="stylesheet" href="/css/syntax.css" type="text/css">
</head> 
<body>
	<div id="site">
		<div id="sidebar">
			<div id="title">
				<p>
					<a href="/"><img src="/images/title.png" alt="12dimensions" /></a>
				</p>
				<p>
					A blog by <a href="/about">Stefano Pigozzi</a> mostly on <a href="/tags/ruby">Ruby</a>, <a href="/tags/macosx">Mac OSX</a> and <a href="/tags/manga">manga</a>.
				</p>
				<form action="http://www.google.com/search" method="get" accept-charset="utf-8">
					<input type="text" name="q" value="">
					<input type="hidden" name="sitesearch" value="stefanopigozzi.com">
					<input type="submit" value="Google!">
				</form>
				{% include tag-cloud.html %}
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</div>
</body>
</html>